# Игнорируем абсолютно всё
*

# Разрешаем Git видеть только эти рабочие файлы
!.gitignore
!requirements.txt
!entities.py
!validator.py
!schema.sql
!database.py
!product_repository.py
!transaction_repository.py
!product_service.py